<h1>{{ site.title }}</h1>
<p>{{ site.subtitle }}</p>

<div class="steps-icons-container">
  {% for step in page.steps %}
    <span class="step {{ step }}">
      <img src="/images/home/{{ step }}_black_300x300.png">
      <div class="white-background"></div>
      <div class="hover-flag">
        <div class="line vertical"></div>
        <div class="line horizontal"></div>
        <div class="step-name">{{ step | titlecase }}</div>
      </div>
    </span>
  {% endfor %}
</div>

<div class="step-descriptions-container">
  <div class="balloon description">{{ page.balloon_description }}</div>
  <div class="zeppelin description">{{ page.zeppelin_description }}</div>
  <div class="plane description">{{ page.plane_description }}</div>
  <div class="drone description">{{ page.drone_description }}</div>
  <div class="rocket description">{{ page.rocket_description }}</div>
</div>

<div class="mask"></div>