pouet

<div class="hero-content">
  <h1>{{ site.title }}</h1>
  <p>{{ lang.home.hero.subtitle }}</p>

  <div class="steps-icons-container">
    <div class="mask"></div>
    {% for step in page.steps %}
      <span class="step {{ step }} {% if forloop.index == page.current_step %}current-step{% endif %}">
        {% if forloop.index == page.current_step %}
          <div class="current-project">
            {{ lang.home.hero.current-step }}
          </div>
          <div class="spinning-wheel"></div>
        {% endif %}
        <img src="/images/home/step-{{ forloop.index }}-black-300x300.png">
        <div class="white-background"></div>
        <div class="step-name-container">
          <div class="line vertical"></div>
          <div class="status p{{ page.steps_status[forloop.index0] }}">
            Progression: {{ page.steps_status[forloop.index0] }}%
          </div>
          <div class="step-name">{{ lang.home.hero.step }} {{ forloop.index }}: {{ step | titlecase }}</div>
        </div>
      </span>
    {% endfor %}
  </div>
</div>

<div class="scroll">
  <img src="/images/scroll-down.png">
</div>