// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html { height: 100%; }

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

h4 {
  margin: 3rem;
}

ul, ol {
  list-style: circle inside;
  margin: 3rem 0 3rem 3rem;
}

img {
  max-width: 100%;
}

blockquote {
  text-align: center;
}

td, th {
  padding: 5px;
}

.twitter-tweet {
  margin: auto!important;
}