// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h4 {
  margin: 3rem;
}

ul, ol {
  list-style: circle inside;
  margin: 3rem 0 3rem 3rem;
}

img {
  max-width: 100%;
}

blockquote {
  text-align: center;
}

.default-page-content {
  margin-top: 150px;
  background-color: white;
}