.about-profile-image {
  max-height: 120px;
  border-radius: 50px;
  float: left;
  margin: 5px 20px 10px 0px;
}

.twitter-card-container {
  position: relative;

  img {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}